  <button mat-button class="menu-button">
      <mat-icon>assignment</mat-icon>
      <span routerLink="/projects">Proyectos</span>
  </button>
  <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span routerLink="/users">Empleados</span>
  </button>
  <button mat-button class="menu-button">
      <mat-icon>note</mat-icon>
      <span routerLink="/tasks">Tareas</span>
  </button>
  <button mat-button class="menu-button">
    <mat-icon>note</mat-icon>
    <span routerLink="/version">Version</span>
</button>

  <mat-divider></mat-divider>

  <button mat-button class="menu-button">
      <mat-icon>input</mat-icon>
      <span routerLink="/login">Cerrar Sesión</span>
  </button>

