<div class="row">
  <div class="col-2">
    <div class="sidebar-menu-container">
      <app-sidebar-menu></app-sidebar-menu>
    </div>
  </div>
  <div class="col-10">
    <div class="content-container">
      <div class="row">
        <div class="col-4">
          <div>
            <ul class="list-group">
              <li *ngFor="let project of projects" class="list-group-item"
              (click)="openForEdit(project)" [class.active]="project == selectedProject ">
                <span class="badge badge-primary"> {{project.id}} </span> {{ project.nombre_clave }}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-8">
          <div>
            <div class="form-group">
              <label for="">Nombre en clave</label>
              <input type="text" [(ngModel)]="selectedProject.nombre_clave" nombre_clave="nombre_clave" placeholder="Nombre en clave"
                class="form-control">
            </div>
            <div class="form-group">
              <label for="">Denominacion comercial</label>
              <input type="text" [(ngModel)]="selectedProject.denominacion_comercial" denominacion_comercial="denominacion_comercial" placeholder="Denominacion comercial"
                class="form-control">
            </div>
            <div class="form-group">
              <label for="">Estado actual</label>
              <input type="text" [(ngModel)]="selectedProject.estado_actual" estado_actual="estado_actual" placeholder="Estado actual"
                class="form-control">
            </div>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="addOrEdit()">Guardar</button>
            <button *ngIf="selectedProject.id !== 0" type="button" class="btn btn-danger" (click)="delete()">Eliminar</button>
          </div>
        </div>
      </div>
      <!-- <button  class="createbutton" data-toggle="modal" data-target="#exampleModal">Nuevo</button> -->

    </div>
  </div>
</div>
