<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z8" mode="side" opened="true">
    <app-sidebar-menu></app-sidebar-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <button mat-raised-button color="accent" class="createbutton">Nuevo</button>
      <table mat-table [dataSource]="projects" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let project"> {{project.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let project"> {{project.name}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaInicio">
          <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
          <td mat-cell *matCellDef="let project"> {{project.fechaInicio}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaFinal">
          <th mat-header-cell *matHeaderCellDef> Fecha Final </th>
          <td mat-cell *matCellDef="let project"> {{project.fechaFinal}} </td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> Descripcion </th>
          <td mat-cell *matCellDef="let project"> {{project.descripcion}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


