
<div class="card login-card">
  <div class="card-content">
    <div class="form-group">
      <label for="">Email</label>
      <input type="text" [(ngModel)]="email" tipo="tipo" placeholder="Email"
        class="form-control">
    </div>
    <div class="form-group">
      <label for="">Contraseña</label>
      <input type="text" [(ngModel)]="password" tipo="tipo" placeholder="Password"
        class="form-control">
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary" (click)="login()">Login</button>
    </div>
  </div>
</div>


