<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z8" mode="side" opened="true">
    <app-sidebar-menu></app-sidebar-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <button mat-raised-button color="accent" class="createbutton">Nueva</button>
      <table mat-table [dataSource]="version" class="mat-elevation-z8">
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let version"> {{version.fecha}} </td>
        </ng-container>

        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef> Codigo </th>
          <td mat-cell *matCellDef="let version"> {{version.codigo}} </td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> Descripcion  </th>
          <td mat-cell *matCellDef="let version"> {{version.descripcion}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
