<div class="row">
  <div class="col-2">
    <div class="sidebar-menu-container">
      <app-sidebar-menu></app-sidebar-menu>
    </div>
  </div>
  <div class="col-10">
    <div class="content-container">
      <div class="row">
        <div class="col-4">
          Formulario
        </div>
        <div class="col-8">
          <table mat-table [dataSource]="versions" class="mat-elevation-z8">
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef> Fecha </th>
              <td mat-cell *matCellDef="let version"> {{version.fecha}} </td>
            </ng-container>

            <ng-container matColumnDef="codigo">
              <th mat-header-cell *matHeaderCellDef> Codigo </th>
              <td mat-cell *matCellDef="let version"> {{version.codigo}} </td>
            </ng-container>

            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef> Descripcion  </th>
              <td mat-cell *matCellDef="let version"> {{version.descripcion}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
        </div>
      </div>
      <!-- <button  class="createbutton" data-toggle="modal" data-target="#exampleModal">Nuevo</button> -->

    </div>
  </div>
</div>
