<div class="row">
  <div class="col-2">
    <div class="sidebar-menu-container">
      <app-sidebar-menu></app-sidebar-menu>
    </div>
  </div>
  <div class="col-10">
    <div class="content-container">
      <div class="row">
        <div class="col-4">
          <div>
          <ul class="list-group">
            <li *ngFor="let documentos of documentos" class="list-group-item"
            (click)="openForEdit(documentos)" [class.active]="documentos == selectedDocumentos ">
              <span class="badge badge-primary"> {{documentos.id}} </span> {{ documentos.descripcion }}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-8">
        <div>
          <div class="form-group">
            <label for="">Descripcion</label>
            <textarea class="form-control" [(ngModel)]="selectedDocumentos.descripcion" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="">Documento de especificacion de requisitos</label>
            <input type="text" [(ngModel)]="selectedDocumentos.especificacion_requisitos" especificacion_requisitos="especificacion_requisitos" placeholder="Documento de especificacion de requisitos"
              class="form-control">
          </div>
          <div class="form-group">
            <label for="">Codigo fuente de un componente</label>
            <input type="numbers" [(ngModel)]="selectedDocumentos.codigo_fuente" codigo_fuente="codigo_fuente" placeholder="Codigo fuente de un componente"
            class="form-control">
          </div>
          <div class="form-group">
            <label for="">Codigo</label>
            <input type="numbers" [(ngModel)]="selectedDocumentos.codigo" codigo="codigo" placeholder="Codigo"
              class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="">Tipo</label>
          <input type="text" [(ngModel)]="selectedDocumentos.tipo" tipo="tipo" placeholder="Tipo"
            class="form-control">
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-primary" (click)="addOrEdit()">Guardar</button>
          <button *ngIf="selectedDocumentos.id !== 0" type="button" class="btn btn-danger" (click)="delete()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>

