mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}


.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: lightgray;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

}

mat-icon {
  margin-right: 8px;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.sidebar-menu-container {
  background-color: #fff;
  color: rgba(0,0,0,.87);
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
  margin: 16px;
  width: 200px;
  border-right: none;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.component-initial::-webkit-scrollbar {
  display: none;
}

.table-datasource {
  min-width: auto !important;
  width: 80%;
}

.content-container {
  margin-top: 16px;
}

.badge-primary {
  color: #fff;
  background-color: #007bff;
}

.form-group {
  margin: 10px 0;
}

.login-card {
  width: 400px;
  padding: 20px;
  margin: auto;
  top: 100px;
}

.row {
    margin-right: 0;
}
